* {
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
}

.scroll-tracker{
    height:0.25rem;
    background-color:#ABBDC7;
    position:fixed;
    inset:0 0 auto;
    transform-origin:left;
}

body{
    font-family: 'Jura', sans-serif;
    background-color:#FFFEFC;
    max-width: 1600px;
}

.siteHeader{
    display:flexbox;
    padding-bottom:1rem;
}

.upperHeader{
    padding-top:1rem;
}

.siteName{
    float:left;
}

.myName{
    font-size:15px;
    padding-left:5rem;
    font-weight: bold;
    color:#ABBDC7;
    text-decoration:none;
}

.selectBar{
    float:right;
}

.selectIcon{
    padding-right:4rem;
}

.iconImg{
    padding-top:5px;
    height:19px;
}

.title{
    padding-top:10rem;
}

.titleText{
    font-size:28px;
    font-weight:bold;
    color:#7F888B;
    text-align: center;
}

.ManuscriptImg{
    padding-top:6.18rem;
    display:grid;
    place-items:center;
    align-content:center;
    min-height:75vh;
}

.ManuscriptImgOne{
    padding-right:5rem;
    height:600px;
}

.ManuscriptImgTwo{
    padding-right:5rem;
    height:600px;
}

.centerFooter{
    padding-top:6rem;
    padding-bottom:2.18rem;
}

.returnLink{
    text-decoration: none;
}

.footerText{
    text-decoration: none;
    padding-bottom:1rem;
    font-size:21px;
    font-weight:bold;
    color:#B5C9E1;
    text-align:center;
    position:relative;
}

.notAvailable{
    opacity:0;
}

/* .footerText:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0rem;
    width:0;
    height:3px;
    background-color:#B5C9E1;
    transition:0.9s ease;
}

.footerText:hover:after{
    width:100%;
} */

@media screen and (max-width: 700px){

    .centerFooter, .title, .ManuscriptImg{
        opacity:0;
    }

    .notAvailable{
        opacity:1;
        left:7rem;
        text-align: center;
        top: 19rem;
        position: absolute;
    }

    .sorryText{
        line-height: 139%;
        font-weight:bold;
        font-size:12px;
        color: #AABDC7;
    }
}