* {
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
}

.scroll-tracker{
    height:0.25rem;
    background-color:#ABBDC7;
    position:fixed;
    inset:0 0 auto;
    transform-origin:left;
}

body{
    font-family: 'Jura', sans-serif;
    background-color:#FFFEFC;
    max-width: 1600px;
}

.header{
    display:block;
}

.siteHeader{
    display:flexbox;
    padding-bottom:1rem;
}

.upperHeader{
    padding-top:1rem;
}

.siteName{
    float:left;
}

.myName{
    font-size:15px;
    padding-left:5rem;
    font-weight: bold;
    color:#ABBDC7;
    text-decoration:none;
}

.selectBar{
    float:right;
}

.selectIcon{
    padding-right:4rem;
}

.iconImg{
    padding-top:5px;
    height:19px;
}

.mainContent{
    padding-top:180px;
}

.worksBrief{
    padding-bottom:37.5rem;
}

.leftSide{
    padding-left:150px;
    padding-top:106px;
    float:left;
}

.leftBrief{
    list-style:none;
}

.workTitle{
    padding-bottom:12rem;
}

.title{
    letter-spacing:6px;
    font-size:36px;
    color:#7f888b;
    font-weight: bold;
}

.material{
    padding-bottom:2rem;

}

.materialChoice{
    font-weight:bold;
    color:#7f888b;
    font-size:18px;
}

.choiceNameOne{
    color:#7f888b;
    font-size:18px;
}

.maChoiceTwo{
    margin-right:9rem;
    display:inline-block;
}

.choiceNameTwo{
    color:#7f888b;
    font-size:18px;
}

.category{
    float:right
}

.cat1{
    position:relative;
    text-decoration:none;
    color:#AABDC7;
    font-size:18px;
}

.rightSide{
    float:right;
}

.worksPicOne{
    height:430px;
}

.artistStatement{
    padding-bottom:11rem;
}

.asTitle{
    list-style:none;
    padding-bottom:3rem;
    text-align:center;
}

.asDes{
    font-size:24px;
    color:#7f888b;
    font-weight: bold;
}

.asContent{
    list-style:none;
    text-align:center;
}

.asPara{
    line-height: 139%;
    font-size:19px;
    color:#7f888b;
}

.fabricationOne{
    padding-bottom:78rem;
}

.leftFab{
    padding-top:20rem;
    float:left;
}

.worksPicTwo{
    padding-left: 335px;
    height:420px;
}

.rightFab{
    padding-right:335px;
    list-style:none;
    float:right;
}

.rightPics{
    padding-bottom:15rem;
}

.worksPicThree{
    height: 450px;
}

.fabDesTitle{
    padding-bottom:2.5rem;
}

.desTitle{
    font-weight:bold;
    font-size:24px;
    color:#7f888b;
}

.desContent{
    line-height: 139%;
    font-size:19px;
    color:#7f888b;
}

.fabricationAndFinalNote{
    padding-bottom:65rem;
}

.leftFinal{
    padding-left:10rem;
    float:left;
}

.leftSideFinal{
    list-style:none;
}

.leftSideFinalPics{
    padding-bottom:11rem;
}

.worksPicFour{
    height:550px;
}

.finalTitleContent{
    padding-bottom:2.5rem;
}

.finalNotes{
    font-weight:bold;
    font-size:24px;
    color:#7f888b;
}

.finalContentWords{
    line-height: 139%;
    font-size:19px;
    color:#7f888b;
}

.rightFinal{
    padding-right:10rem;
    float:right;
}

.rightSideFinal{
    list-style: none;
}

.worksPicFive{
    height:200px;
}

.rightFinalRest{
    padding-bottom:38rem;
}

.finalRestText{
    text-align:right;
    line-height: 139%;
    font-size:19px;
    color:#7f888b;
}




.moreWorks{
    padding-top:10rem;
    padding-bottom:3.65rem;
    display:flex;
    justify-content: center;
}

.moreworksLink{
    text-decoration:none;
}

.viewWorks{
    position:relative;
    font-size:18px;
    font-weight:bold;
    color:#7F888B;
    padding-bottom:0.5rem;
}

.viewWorks:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:0;
    height:3px;
    background-color:#7F888B;
    transition:0.9s ease;
}

.viewWorks:hover:after{
    width:100%;
}

.mainFooter{
    padding-bottom:3rem;
    display:flex;
    justify-content: center;
}

.contactMe{
    text-decoration:none;
}

.centerFooter{
    position:relative;
    font-size:16px;
    font-weight:bold;
    color:#7F888B;
    padding-bottom:0.5rem;
}

.centerFooter:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:0;
    height:3px;
    background-color:#7F888B;
    transition:0.9s ease;
}

.centerFooter:hover:after{
    width:100%;
}


.notAvailable{
    opacity:0;
}

#emote{
    position:static;
}

.hidden{
    object-fit: cover;
    transform:rotate(90deg);
    height: 600px;
    width: 300px;
    left: 78px;
    top: 555px;
    position:absolute;
    opacity:0;
}

.ClipOne{
    position:absolute;
    left:100px;
    top:650px;
    height:150px;
}

.ClipTwo{
    position:absolute;
    left:100px;;
    top:650px;
    height:150px;
}

.ClipThree{
    position:absolute;
    left:100px;
    top:650px;
    height:150px;
}

.ClipFour{
    position:absolute;
    left:100px;
    top:650px;
    height:150px;
}




/* #hidOpening{
    opacity: 1;
    filter: blur(4px);
    transition: 5s;
}

#show{
    opacity: 0;
} */


@media screen and (max-width: 2100px){

    .worksBrief{
        padding-top:6rem;
    }

    .worksPicOne{
        height:430px;
        width:920px;
        object-fit: cover;
    }

    .worksPicTwo{
        height:530px;
    }

    .notAvailable{
        opacity:0;
    }
}

@media screen and (max-width: 1600px){

    .worksBrief{
        padding-top:0rem;
    }

    .worksPicOne{
        width:825px;
        object-fit: cover;
        height:430px;
    }

    .worksPicTwo{
        height:420px;
    }

    #Clips{
        top:31rem;
        left:4rem;
    }

    .notAvailable{
        opacity:0;
    }

}

@media screen and (max-width: 1300px){

    .worksBrief{
        padding-top:0rem;
    }

    .worksPicOne{
        object-fit: cover;
        width: 580px;
    }

    .worksPicTwo{
        padding-left: 145px;
    }
    
    .rightFab{
        padding-right:140px;
    }

    .worksPicFour{
        object-fit: cover;
        height: 475px;
    }
    
    .rightFinal{
        padding-right:8.5rem;
    }
    
    .worksPicFive{
        padding-left:95px;
        object-fit: cover;
        height:160px;
    }
    
    .rightFinalRest{
        padding-bottom:35.5rem;
    }
    
    #Clips{
        top:31rem;
        left:4rem;
    }

    .notAvailable{
        opacity:0;
    }

}


@media screen and (max-width: 700px){

    .mainContent, .contactMe{
        opacity:0;
    }

    #Clips{
        top:6rem;
        left:14.5rem;
        height:5rem;;
    }

    .notAvailable{
        opacity:1;
        left:7rem;
        text-align: center;
        top: 19rem;
        position: absolute;
    }

    .sorryText{
        line-height: 139%;
        font-weight:bold;
        font-size:12px;
        color: #AABDC7;
    }
}

